{% import "MykeesCommentBundle:Comment:form_errors.html.twig" as macros %}

{% if not form.vars.valid %}
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h3 class="errorh3">Erreur! </h3>
        {{ macros.display_error(form) }}
    </div>
{% endif %}
{% for flashMessage in app.session.flashbag.get('comment_success') %}
    <div class="flash-notice alert alert-success">
        {{ flashMessage|raw }}
    </div>
{% endfor %}

<div id="form-wrapper" class="form-wrapper">

    {{ form_start(form, {'attr': {'id': 'comments_area'}}) }}

    {% if app.user is null %}
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group {{ form_errors(form.username) is not empty ? 'has-error':'' }}">
                    {{ form_label(form.username, 'Nom:') }}
                    {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group {{ form_errors(form.email) is not empty ? 'has-error':'' }}" >
                    {{ form_label(form.email, 'Email:') }}
                    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-sm-12">
            <div class="form-group {{ form_errors(form.content) is not empty ? 'has-error':'' }}">
                {{ form_label(form.content, 'Message:') }}
                {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
            </div>

        </div>
    </div><br>
    <div class="submit">
        <input class="btn btn-primary" type="submit" value="Submit">
    </div>
    <p class="pull-right comment__pullright"><a href="#" id="remove-reply">Annuler la réponse</a></p>
    {{ form_rest(form) }}
    {{ form_end(form) }}

</div>
