{% macro display_error(form) %}
    {% import _self as forms %}
    <ul class="errorsList" style="padding-left: 15px;">
        {% for child in form if not child.vars.valid %}
            <li>
                {% if child.vars.compound and not child.vars.valid %}
                    {{ child.vars.label|trans|capitalize }}:
                    {{ forms.display_error(child) }}
                {% else %}
                    <h5>
                        <!-- {{ dump(child.vars.errors) }}
                        <a href="#{{ child.vars.id }}">
                            {#{ child.vars.label|trans|capitalize }#}:
                        </a>  -->
                        {% for error in child.vars.errors %}
                            <strong>{{ error.message|capitalize }}</strong>
                        {% endfor %}
                    </h5>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}
